.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width:  100%;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  background-color: var(--color-page-background);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width:  var(--spacing-18);
  height: var(--nav-container-height);

  .menu-lines {   
    height: var(--spacing-5);
    width:  var(--spacing-10);
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  
    .line {
      display: block;
      height: 0.14rem;
      width: var(--spacing-6);
      border-radius: 10px;
      background: var(--color-text);
    }
  }
  
  .menu-lines:hover {
    .line {
      background: var(--color-text-light);
    }
  }
}



button.menu-btn {

}
  
.site-logo img {
  max-height: 2rem;
}
  
.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: middle;
  font-family: var(--fontFamily-sans);
  font-weight: bold;


    // z-index: 20;
}
  
.site-subtitle {
  display: block;
    //font-size: $type-size-8;
}
  
.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  
  .site-nav {
    margin-left: 0;
  
      //@include breakpoint($small) {
      //  float: right;
      //}
  }
  
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}
  
.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
  