@import "@/styles/_variables.scss";
@import "@/styles/_breakpoint.scss";

.toc {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;

  margin: 1rem 0rem;
  padding: 0;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: var(--fontSize-sm);

  
  @include breakpoint(max-width $large){

  }
  @include breakpoint(min-width $large){
    float: right;
    position: sticky;
    top: calc(var(--nav-height) + 1em);
    max-height: calc(100vh - var(--nav-height) - 2em);
    // margin + width 만큼 오른쪽으로 이동
    margin: 0em -195px 0 0;
    width: 180px;
  }

  header {
    display: flex;
    align-items: center;
    margin:0;
    padding: 0;

    background-color: var(--color-primary);
    text-indent: 0.5em;
    
    ::before{
      font-family: "Material Symbols Outlined";
      content: "\f071";
      font-size: 1.5em;
      font-weight: normal;
      vertical-align: bottom;
      margin-right: 0.1em;
    }
    h4{
      margin:0;
      vertical-align: top;
      color: #EAEAEA;
      font-size: var(--fontSize-sm);    
    }
  }

  ul,
  ol {
    margin: 0;
    padding:  0rem;
    list-style-position: outside;  // inside 는 multiline 에서 mark 무시하고 밑에 들어가서 별로임.
  }
  li {
    padding: 0;
    margin:0;
    list-style-type: none;
    border-top: 1px solid var(--color-border);
  }

  
  a {
    // 글자수 넘어가면 ... 나오게
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin:0;
    padding: 0.1em 1.0em 0.1em 1.0em;
    
    color: var(--color-text);
    font-size: var(--fontSize-sm);
    font-weight: bold;
    line-height: 1.5;
    

    &:hover,
    &:focus {
      text-decoration: underline;
      //color: var(--color-text);
    }
  }

  li ul > li a {
    padding-left: 1.5em;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-left: 2.0em;
  }

  li ul li ul li ul > li a {
    padding-left: 2.5em;
  }

  li ul li ul li ul li ul > li a {
    padding-left: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 3.25rem;
  }
}

.selected{
  transition: background-color 200ms linear;
  background-color: var(--color-text-bg-dimmed);
}