.toc {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: var(--fontSize-sm);
  border: 1px solid var(--color-text);

  header {
    align-self: top;
    background-color: var(--color-primary);
    margin:0;
    padding: 0;
    border-bottom: 1px solid var(--color-text);
  }
  h4{
    margin:0;
    color: #EAEAEA;
  }

  a {
    display: block;
    padding: 0.25rem 0.75rem;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid var(--color-text);

    &:hover,
    &:focus {
      text-decoration: underline;
      //color: var(--color-text);
    }
  }

  ul,
  ol {
    margin: 0;
    padding:  0rem;
    list-style-position: outside;  // inside 는 multiline 에서 mark 무시하고 밑에 들어가서 별로임.
  }
  li {
    list-style-type: none;
    padding: 0;
  }
  li ul > li a {
    padding-left: 1.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-left: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-left: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-left: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-left: 3.25rem
  }
}