@import "@/styles/_variables.scss";
@import "@/styles/_breakpoint.scss";

.sidebar {
  z-index: 20;
  position: fixed;
  top: var(--nav-height);
  
  overflow-y: scroll;

  background-color: var(--color-page-background);
  opacity: 95%;
  
  height: calc(100% - var(--nav-height));//100%;
  padding: 0.5rem;

  width: 18rem;
  @include breakpoint(max-width $small){
   width: 100%;
  }
}

@supports (backdrop-filter: none){
  .leftone{
    backdrop-filter: blur(100px) brightness(90%); 
    //-webkit-backdrop-filter: grayscale(10%);
  }
}

@for $i from 0 through 40{
  .category-item-#{$i}{
    margin-left: #{1rem * $i};
  }
}