[data-theme="dark"] {
  --color-text: #CCCCCC;
  --color-text-light: #4f5969;
  --color-text-dimmed: #AAAAAA;

  --color-page-background: #1E1E1E;
  --color-border: #666666;
  --color-primary: #005b99;

  --color-heading: #D5D5D5;
  --color-heading-black: #E0E0E0;
  --color-accent: #d1dce5;
}
