.sidebar {
  z-index: 10000;
  position: fixed;
  top: var(--nav-height);
  padding: 1rem;

  background-color: var(--color-page-background);
  opacity: 95%;

  width: 100%;
  height: auto;
  min-height: 20%;
}

@supports (backdrop-filter: none){
  .leftone{
    backdrop-filter: blur(100px) brightness(90%); 
    //-webkit-backdrop-filter: grayscale(10%);
  }
}

@for $i from 0 through 40{
  .category-item-#{$i}{
    margin-left: #{1rem * $i};
  }
}


