.masthead {
  z-index: 9999;
  position: fixed;
  top: 0px;
  width:  100%;
  height: var(--nav-height);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: var(--spacing-4);

  user-select: none;  
  
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-page-background);
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: none;

  width:  var(--spacing-14);
  margin: 5px;

  .menu-lines {   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    z-index: 2;

    .line {
      display: block;
      width: 1.5em;
      //height: 0.2rem;
      margin: 0.15rem 0rem;
      border-bottom: 4px solid var(--color-text);
      border-radius: 4px;
      //background: var(--color-text);
    }
  }
}


.menu-btn:hover .menu-lines {
  cursor: pointer;
  .line {
    border-color: var(--color-text-dimmed);
  }
}

.menu-btn.change .menu-lines {
  .line1 {
    transform: translateY(0.5rem) rotate(45deg);
  }
  .line2 {
    opacity: 0%;
  }
  .line3 {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
}

.animate.change .menu-lines {
  .line1 {
    animation: rotateR 150ms ease-in forwards reverse; 
  }
  .line2 {
    animation: fade 150ms ease-in forwards reverse; 
  }
  .line3 {
    animation: rotateL 150ms ease-in forwards reverse;
  }
}

.animate:not(.change) .menu-lines {
  .line1 {
    animation: rotateR 150ms ease-in forwards ;
  }
  .line2 {
    animation: fade 150ms ease-in forwards ;
  }
  .line3 {
    animation: rotateL 150ms ease-in forwards ;
  }
}



@keyframes rotateL{
  0% {
    transform: translateY(0px) rotate(0);
  }
  100% {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
}
@keyframes rotateR{
  0% {
    transform: translateY(0px) rotate(0);
  }
  100% {
    transform: translateY(0.5rem) rotate(45deg);
  }
}
@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}