.masthead {
  position: fixed;
  top: 0px;
  width:  100%;
  height: var(--nav-container-height);

  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-4);

  user-select: none;  
  
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-page-background);
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width:  var(--spacing-14);
  margin: 5px;

  .menu-lines {   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    z-index: 2;

    .line {
      display: block;
      width: var(--spacing-6);
      height: 0.14rem;
      margin: 0.15rem 0rem;
      border-radius: 10px;
      background: var(--color-text);
    }
  }
}


.menu-btn:hover .menu-lines {
  cursor: pointer;
  .line {
    background: var(--color-text-dimmed);
  }
}

.menu-btn.animate:not(.change) .menu-lines {
  .line1 {
    transform: translateY(0.45rem) rotate(45deg);
  }
  .line2 {
    opacity: 0%;
  }
  .line3 {
    transform: translateY(-0.45rem) rotate(-45deg);
  }
}

.animate:not(.change) .menu-lines {
  .line1 {
    animation: rotateR 150ms ease-in forwards reverse; 
  }
  .line2 {
    animation: fade 150ms ease-in forwards reverse; 
  }
  .line3 {
    animation: rotateL 150ms ease-in forwards reverse;
  }
}

.change.animate .menu-lines {
  .line1 {
    animation: rotateR 150ms ease-in forwards alternate;
  }
  .line2 {
    animation: fade 150ms ease-in forwards alternate;
  }
  .line3 {
    animation: rotateL 150ms ease-in forwards alternate;
  }
}



@keyframes rotateL{
  0% {
    transform: translateY(0px) rotate(0);
  }
  100% {
    transform: translateY(-0.45rem) rotate(-45deg);
  }
}
@keyframes rotateR{
  0% {
    transform: translateY(0px) rotate(0);
  }
  100% {
    transform: translateY(0.45rem) rotate(45deg);
  }
}
@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}



.site-logo img {
  max-height: 2rem;
}
  
.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  vertical-align: middle;
  font-family: var(--fontFamily-sans);
  font-weight: bold;


    // z-index: 20;
}
  
.site-subtitle {
  display: block;
    //font-size: $type-size-8;
}
  
.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  
  .site-nav {
    margin-left: 0;
  
      //@include breakpoint($small) {
      //  float: right;
      //}
  }
  
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}
  
.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
  