/* Rules for sizing the icon. */
.material-symbols-outlined.md-xs   { font-size: 0.75rem; }
.material-symbols-outlined.md-sm   { font-size: 0.875rem; }
.material-symbols-outlined.md-base { font-size: 1.0rem; }
.material-symbols-outlined.md-lg   { font-size: 1.125rem; }
.material-symbols-outlined.md-xl   { font-size: 1.25rem; }
.material-symbols-outlined.md-2xl  { font-size: 1.5rem; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }