
div[data-checkbox]  
{
  display: inline;
  align-items: center;
  
  &::before
  {
    font-family: "Material Symbols Outlined";
    content: "\e835";
    font-size: 1.26em;
    line-height: 0em;
    vertical-align: sub;
  }
  &[checked]::before
  {
    font-family: "Material Symbols Outlined";
    content: "\e834";
    font-size: 1.26em;
    line-height: 0em;
    vertical-align: sub;
  }
}