
/*
Breakpoints
========================================================================== */

$small: 480px !default;
$mobile: 640px !default;
$medium: 768px !default;
$medium-wide: 1024px !default;
$large: 1280px !default;
$x-large: 1600px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 170px !default;
$right-sidebar-width: 230px !default;
$right-sidebar-width-wide: 280px !default;