
/*
Breakpoints
========================================================================== */

$small       : 480px !default;
$medium      : 640px !default;
$medium-wide : 860px !default;
$large       : 1024px !default;
$x-large     : 1600px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 170px !default;
$right-sidebar-width: 230px !default;
$right-sidebar-width-wide: 280px !default;