:root {
  --color-primary: #0284C7;
  --color-primary-background: #EBF8FE;
  
  --color-page-background: #FBFBFB;
  --color-border: #AAAAAA;

  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-text-dimmed: #666666;

  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
    
}
