:root {
  --color-primary: #0284C7;
  --color-primary-background: #EBF8FE;
  --color-accent: #d1dce5;
  
  --color-page-background: #FBFBFB;
  --color-border: #BBBBBBBB;

  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-text-dimmed: #666666;

  --color-text-bg: #EDF5FD;
  --color-text-bg-dimmed: #D6E8FA;

  --color-heading: #1a202c;
  --color-heading-black: black;
}
