[data-theme="dark"] {
  --color-primary: #00ADB5;
  --color-primary-background: #0e2a1467;
  --color-accent: #444e56;
  
  --color-page-background: #1E1E1E;
  --color-border: #666666;
  
  --color-text: #CCCCCC;
  --color-text-light: #BBBBBB;
  --color-text-dimmed: #AAAAAA;

  --color-text-bg: #223344;
  --color-text-bg-dimmed: #334455;

  --color-heading: #D5D5D5;
  --color-heading-black: #E0E0E0;
}
