[data-theme="dark"] {
  --color-primary: #008bca;
  --color-primary-background: #001c3667;
  
  --color-page-background: #1E1E1E;
  --color-border: #666666;
  
  --color-text: #CCCCCC;
  --color-text-light: #BBBBBB;
  --color-text-dimmed: #AAAAAA;

  --color-heading: #D5D5D5;
  --color-heading-black: #E0E0E0;
  --color-accent: #d1dce5;

}
